body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #184e77;
}

h1 {
    color: #333533;
    font-family: 'DM Serif Display', Helvetica, sans-serif;
}

.resume_container {
    background-color: white;
}